@model IEnumerable<Consultorio.WebUI.Models.UsuariosViewModel>

@*@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@

<div class="card">
    <div class="card-header">
        <h2>Usuarios</h2>
    </div>
    <div class="card-body">
        <div id="index">
            <p>
                @*<button id="New" class="btn btn-primary">Nuevo</button>*@
                <a asp-action="Create" class="btn btn-primary">Nuevo</a>
                @*<h2>@ViewBag.message</h2>*@
            </p>
            <table class="table table-striped thead-dark" id="DataTable">
                <thead class="text-light">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.user_NombreUsuario)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.role_Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.empe_Id)
                        </th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.user_NombreUsuario)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.role_Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.empe_NombreCompleto)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.user_Id }, new { @class = "btn btn-outline-warning" }) |
                                @Html.ActionLink("Detalles", "Details", new { id = item.user_Id }, new { @class = "btn btn-outline-dark" }) |
                                <button class="btn btn-outline-danger Borrar" data-id="@item.user_Id">
                                    Eliminar
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <partial name="_Create" model="new Consultorio.WebUI.Models.UsuariosViewModel()" />
        <partial name="_Delete" />
    </div>
</div>
<script>
    $("#create").hide();
    $("#edit").hide();

    $(document).ready(function () {
        $("#Cancel").click(function () {
            $("#create").hide();
            $("#index").fadeIn('slow');
            $(".card-body").animate({ height: $("#index").height() + 30 }, 500);
        });

        $(".Cancel").click(function () {
            $("#edit").hide();
            $("#index").fadeIn('slow');
            $(".card-body").animate({ height: $("#index").height() + 30 }, 500);
        });
    })
</script>
