@model Consultorio.WebUI.Models.ConsultaViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ConsultaViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cons_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cons_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cons_Inicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cons_Inicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cons_Final)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cons_Final)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.paci_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.paci_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.consltro_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.consltro_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cons_Costo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cons_Costo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cons_UsuCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cons_UsuCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cons_FechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cons_FechaCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cons_UsuModificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cons_UsuModificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cons_FechaModificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cons_FechaModificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cons_Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cons_Estado)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
