@model IEnumerable<Consultorio.WebUI.Models.ConsultaViewModel>

<div class="card mb-4 col-xl-8 offset-xl-2">
    <div class="card-header">
        <h2>Consultas</h2>
    </div>
    <div class="card-body">
        <div id="index">
            <p>
                <button id="New" class="btn btn-primary">Nuevo</button>
                @*<a id="New" asp-action="Create">Create New</a>*@

            </p>
            <table class="table table-striped thead-dark" id="DataTable">
                <thead class="text-light">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.cons_Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.cons_Inicio)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.cons_Final)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.paci_Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.consltro_Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.cons_Costo)
                        </th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.cons_Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.cons_Inicio)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.cons_Final)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.paci_Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.consltro_Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.cons_Costo)
                            </td>
                            <td>
                                <button class="btn btn-outline-warning Editar" data-id="@item.cons_Id" data-Inicio="@item.cons_Inicio" data-Final="@item.cons_Final" data-Paci="@item.paci_Id" data-Consltro="@item.consltro_Id" data-Costo="@item.cons_Costo">
                                    Editar
                                </button> |
                                @Html.ActionLink("Detalles", "Details", new { id = item.cons_Id }, new { @class = "btn btn-outline-dark" }) |
                                <button class="btn btn-outline-danger Borrar" data-id="@item.cons_Id">
                                    Eliminar
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <partial name="_Create" model="new Consultorio.WebUI.Models.ConsultaViewModel()" />
        <partial name="_Edit" model="new Consultorio.WebUI.Models.ConsultaViewModel()" />
        <partial name="_Delete" />
    </div>
</div>
<script>
    $("#create").hide();
    $("#edit").hide();
            
    $(document).ready(function () {
        $("#Cancel").click(function () {
            $("#create").hide();
            $("#index").fadeIn('slow');
            $(".card-body").animate({ height: $("#index").height() + 30 }, 500);
        });

        $(".Cancel").click(function () {
            $("#edit").hide();
            $("#index").fadeIn('slow');
            $(".card-body").animate({ height: $("#index").height() + 30 }, 500);
        });
    })

</script>
