@model IEnumerable<Consultorio.WebUI.Models.CargoViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
    <h2>@ViewBag.message</h2>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.carg_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.carg_Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.carg_UsuCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.carg_FechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.carg_UsuModificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.carg_FechaModificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.carg_Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.carg_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.carg_Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.carg_UsuCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.carg_FechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.carg_UsuModificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.carg_FechaModificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.carg_Estado)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
