@model Consultorio.WebUI.Models.FacturasYDetallesViewModel

@{
    ViewData["Title"] = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";

    double subtotal = 0;
    double IVA = 0;
    double total = 0;
}

<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <h2>Factura</h2>
            </div>
            <div class="card-body">
                <form asp-action="Create" asp-controller="Factura">
                    <div class="form-group">
                        <label asp-for="paci_Id" class="control-label"></label>
                        <select asp-for="paci_Id" class="form-control" disabled asp-items="ViewBag.paci_Id">
                            <option>-- Seleccione un paciente --</option>
                        </select>
                        <span asp-validation-for="paci_Id" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-2">
                        <label asp-for="meto_Id" class="control-label"></label>
                        <select asp-for="meto_Id" class="form-control" disabled asp-items="ViewBag.meto_Id">
                            <option>-- Seleccione un método --</option>
                        </select>
                        <span asp-validation-for="meto_Id" class="text-danger"></span>
                    </div>
                    <br />
                    @*<a asp-action="Index" class="btn btn-danger">Cerrar</a>*@
                    <input type="submit" disabled id="subirFactura" class="btn btn-info" value="Siguiente" />
                </form>
            </div>
        </div>
    </div>

    <div class="col-8">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-end">
                    <a asp-action="Index">Regresar</a>
                </div>
            </div>
            <div class="card-body">
                <form asp-action="CreateDetalle" id="formDetalles">
                    <div class="form-group">
                        <input asp-for="fact_Id" class="form-control" hidden />
                        <input asp-for="paci_Id" class="form-control" hidden />
                        <input asp-for="meto_Id" class="form-control" hidden />
                    </div>
                    <div class="form-group">
                        <label asp-for="cons_Id" class="control-label"></label>
                        <select asp-for="cons_Id" class="form-control" asp-items="ViewBag.cons_Id">
                            <option value="">-- Seleccione una consulta --</option>
                        </select>
                        <span asp-validation-for="cons_Id" class="text-danger"></span>
                        <label id="consVali" class="text-danger" hidden>El campo es obligatorio</label>
                    </div>
                    <div class="form-group">
                        <label asp-for="cons_Costo" class="control-label"></label>
                        <input class="form-control" type="text" asp-for="cons_Costo" disabled />
                        <span asp-validation-for="cons_Costo" class="text-danger"></span>
                    </div>
                    <br />
                    <input type="button" id="subirFacturaDetalles" class="btn btn-secondary" value="Crear" />
                    <a asp-action="Index" class="btn btn-danger">Finalizar factura</a>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="card">
        <div class="card-body">
            <table class="table table-bordered table-hover" id="DataTable">
                <thead>
                    <tr>
                        <th>N° Factura</th>
                        <th>Consulta</th>
                        <th>Costo</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var detalle in ViewBag.detalles)
                    {
                        <tr>
                            <td>@detalle.fact_Id</td>
                            <td>@detalle.cons_Nombre</td>
                            <td>@detalle.cons_Costo</td>
                            <td>
                                <button data-id="@detalle.factdeta_Id" data-paci_Id="@detalle.paci_Id"  data-fact_Id="@detalle.fact_Id" data-meto_Id="@detalle.meto_Id" class="btn btn-danger btnEliminarDetalle">Borrar</button>
                            </td>
                        </tr>

                        subtotal = Convert.ToDouble(detalle.cons_Costo) + subtotal;
                    }
                </tbody>
            </table>

            @{
                IVA = subtotal * 0.15;
                total = subtotal + IVA;
            }
            <div class="row">
                <div class="col-4 d-flex justify-content-end">
                    <br />
                    <label>Subtotal:</label>
                    <input class="form-control" disabled value="@subtotal" />
                    <br />
                    <label>IVA:</label>
                    <input class="form-control" disabled value="@(Math.Round(IVA, 2))" />
                    <br />
                    <label>Total:</label>
                    <input class="form-control" disabled value="@(Math.Round(total, 2))" />
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="_Delete" model="new Consultorio.WebUI.Models.FacturasYDetallesViewModel()" />

@if (TempData["script"] != null)
{
    <script>
        $(document).ready(function () {
            @Html.Raw(TempData["script"])
        })
    </script>

    TempData.Remove("script");
}

<script>
    $(document).ready(function () {
        if ($("#paci_Id").prop('disabled')) {
            $("#cons_Id").prop('disabled', false);
            $("#medi_Id").prop('disabled', false);
            $("#factdeta_Cantidad").prop('disabled', false);
        }

        $("#subirFacturaDetalles").click(function () {
            if ($("#cons_Id").val() == "") {
                $("#consVali").prop('hidden', false);
            } else {
                $("#consVali").prop('hidden', true);
                $("#formDetalles").submit();
            }
        });

        $("#cons_Id").change(function () {
            var idCons = $("#cons_Id").val();
            $.ajax({
                url: '/Consulta/Costo',
                type: 'GET',
                data: { id: idCons },
                success: function (response) {
                    console.log(response);
                    $("#cons_Costo").val(response);
                },
                error: function (xhr, status, error) {
                    console.log("a seguir intentando bro");
                }
            });
        });
    });

</script>

